apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "superset.fullname" . }}-config
  namespace: {{ include "superset.namespace" . }}
  labels:
    {{- include "superset.labels" . | nindent 4 }}
data:
  SUPERSET_LOAD_EXAMPLES: "no"
  REDIS_HOST: {{ .Values.externalRedis.host | quote }}
  REDIS_PORT: {{ .Values.externalRedis.port | quote }}
  REDIS_CELERY_DB: {{ .Values.externalRedis.celeryDb | quote }}
  REDIS_RESULTS_DB: {{ .Values.externalRedis.resultsDb | quote }}
  REDIS_CACHE_DB: {{ .Values.externalRedis.cacheDb | quote }}
  POSTGRES_DUCKLAKE_DB: {{ .Values.ducklakePostgres.database | quote }}
  POSTGRES_DUCKLAKE_USER: {{ .Values.ducklakePostgres.username | quote }}
  POSTGRES_DUCKLAKE_HOST: {{ .Values.ducklakePostgres.host | quote }}
  POSTGRES_DUCKLAKE_PORT: {{ .Values.ducklakePostgres.port | quote }}
  ADMIN_USERNAME: {{ .Values.superset.admin.username | quote }}
  ADMIN_EMAIL: {{ .Values.superset.admin.email | quote }}
  DUCKLAKE_STORAGE_DRIVER: {{ .Values.superset.storageDriver | quote }}
  GCS_BUCKET_PATH: {{ .Values.superset.gcs.bucketPath | quote }}
  S3_BUCKET_PATH: {{ .Values.superset.s3.bucketPath | quote }}
  S3_ENDPOINT: {{ .Values.superset.s3.endpoint | quote }}
  S3_REGION: {{ .Values.superset.s3.region | quote }}
  S3_URL_STYLE: {{ .Values.superset.s3.urlStyle | quote }}
  S3_USE_SSL: {{ .Values.superset.s3.useSsl | quote }}
  {{- if .Values.superset.bigquery.enabled }}
  BIGQUERY_ENABLED: "true"
  BIGQUERY_PROJECT_ID: {{ .Values.superset.bigquery.projectId | quote }}
  GOOGLE_APPLICATION_CREDENTIALS: "/app/secrets/bigquery/service-account.json"
  {{- end }}
