apiVersion: v1
kind: Secret
metadata:
  name: {{ include "superset.fullname" . }}-secret
  namespace: {{ include "superset.namespace" . }}
  labels:
    {{- include "superset.labels" . | nindent 4 }}
type: Opaque
data:
  SUPERSET_SECRET_KEY: {{ .Values.superset.secretKey | b64enc | quote }}
  ADMIN_PASSWORD: {{ .Values.superset.admin.password | b64enc | quote }}
  POSTGRES_PASSWORD: {{ .Values.externalPostgres.password | b64enc | quote }}
  POSTGRES_DUCKLAKE_PASSWORD: {{ .Values.ducklakePostgres.password | b64enc | quote }}
  GCS_KEY_ID: {{ .Values.superset.gcs.keyId | b64enc | quote }}
  GCS_SECRET: {{ .Values.superset.gcs.secret | b64enc | quote }}
  {{- if .Values.superset.motherduck.token }}
  MOTHERDUCK_TOKEN: {{ .Values.superset.motherduck.token | b64enc | quote }}
  {{- end }}
  # Construct URI: postgresql://USER:PASSWORD@HOST:5432/DB
  SQLALCHEMY_DATABASE_URI: {{ printf "postgresql://%s:%s@%s:%d/%s" .Values.externalPostgres.username .Values.externalPostgres.password .Values.externalPostgres.host (int .Values.externalPostgres.port) .Values.externalPostgres.database | b64enc | quote }}
